[Desktop Entry]
Categories=Network;WebBrowser;
Comment=Pick what browser to use
Exec=picky %u
Keywords=Browser
Name=Picky
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/qute;
